$Verydarkblue: hsl(233, 47%, 7%);
$Darkdesaturatedblue: hsl(244, 38%, 16%);
$Softviolet: hsl(277, 64%, 61%);

$White: hsl(0, 0%, 100%);
$SlightlytransP: hsla(0, 0%, 100%, 0.75);
$SlightlytransH: hsla(0, 0%, 100%, 0.6);


$fontSize:15px;
$bodyFont:'Inter', sans-serif;
$headFont:'Lexend Deca', sans-serif;
